{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "your_azure_webjobs_storage_connection_string_here",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SalesforceStorage": "your_salesforce_storage_connection_string_here"
  }
}
